<h1>About Active Employees</h1>
<br/>
<pre style="font-size: 18px">This is a simple app having following functionalities:
<br/>
    1. Signing Up and Logging In with Authentication
    <br/>
    2. Adding New Employees to Database
    <br/>
    3. Updating Existing Employees
    <br/>
    4. Deleting Existing Employees
    <br/>
    5. Showing an Employee List with all employees
    <br/>
</pre>